<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= blog.title %>
    </title>
    <link rel="stylesheet" href="/css/showstyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <div class="header-container">
            <div class="navbar">
                <a href="/" class="nav-link">Home</a>
                <span class="nav-separator">|</span>
                <a href="/blogs" class="nav-link">All Blogs</a>
            </div>
            <div class="header-right">
                <form class="search-form">
                    <input type="text" class="search-input" placeholder="Search blogs">
                </form>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="profile-menu">
                    <img src="https://cdn2.f-cdn.com/contestentries/1440473/30778261/5bdd02db9ff4c_thumb900.jpg"
                        alt="Profile Picture" class="profile-pic">
                    <span class="profile-arrow"></span>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item">Account Settings</a>
                        <a href="#" class="dropdown-item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <% if (typeof success !=='undefined' && success) { %>
            <div class="success-message">
                Blog post successfully updated!
            </div>
            <% } %>

                <article class="blog-post">
                    <h1 class="blog-title">
                        <%= blog.title %>
                    </h1>
                    <img src="<%= blog.image %>" alt="Blog Image" class="blog-image">
                    <div class="blog-content">
                        <p>
                            <%= blog.body %>
                        </p>

                    </div>
                    <footer class="blog-footer">
                        <a href="/blogs/<%= blog._id %>/edit" class="btn-edit">Edit Blog</a>
                        <a href="/blogs" class="btn-back">Back to Blog List</a>
                    </footer>
                </article>
    </div>
</body>

</html>